<div class="product text-center">
    <div class="mb-3 position-relative">
        <div class="badge text-white bg-"></div><a class="d-block"><img class="img-fluid w-100"
                src="{{product.product_image}}" alt="Product Image"></a>
        <div class="product-overlay">
            <ul class="mb-0 list-inline">
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark"><i
                            class="far fa-heart"></i></a></li>
                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark">Add to cart</a></li>
                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" data-bs-toggle="modal"><i
                            class="fas fa-expand"></i></a></li>
            </ul>
        </div>
    </div>
    <h6> <a class="reset-anchor">{{product.product_name}}</a></h6>
    <p class="small text-muted">{{product.currency_symbol}} {{product.product_price}}</p>
</div>